
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPositionLabel">Create or edit a Position</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="position.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_positionName">Position Name</label>
            <input type="text" class="form-control" name="positionName" id="field_positionName"
                   ng-model="position.positionName"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_laborCategory">Labor Category</label>
            <input type="text" class="form-control" name="laborCategory" id="field_laborCategory"
                    ng-model="position.laborCategory"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                    ng-model="position.salary"
                    required max="999999" />
            <div ng-show="editForm.salary.$invalid">
                <p class="help-block"
                    ng-show="editForm.salary.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.salary.$error.max" translate-value-max="999999">
                    This field cannot be more than 999999.
                </p>
                <p class="help-block"
                    ng-show="editForm.salary.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
